{% extends "master.html" %}

{% load custom_tags %}

{% block content_body %}
    {% get_settings_value auth_active "SOCIAL_AUTH_ACTIVATION" %}
    {% if auth_active %}
        {% load account socialaccount %}
        {% get_providers as socialaccount_providers %}
    {% endif %}
    <div class="card">
        <div class="card-header text-center">
            <h1>התחברות</h1>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-sm-4 mt-4">
                    {% if socialaccount_providers %}
                        <p> אם עדיין לא נרשמתם, התחברו באמצעות פייסבוק או
                            <a href="{{ signup_url }}">הירשמו</a>
                        </p>
                        <div class="socialaccount_ballot">
                            <ul class="socialaccount_providers">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>
                            <div class="login-or"></div>
                        </div>
                        {% include "socialaccount/snippets/login_extra.html" %}
                    {% else %}
                        <p class="text-center">אם עדיין לא נרשמתם, בבקשה
                            <a href="{{ signup_url }}">הירשמו</a> קודם.</p>
                    {% endif %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% if form.errors %}
                            {% for key, value in form.errors.items %}
                                {{ value }}
                            {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_login">שם משתמש או אימייל</label>
                            {{ form.login }}
                        </div>
                        <div class="form-group">
                            <label for="id_password">סיסמה</label>
                            {{ form.password }}
                        </div>
                        <div class="form-check">
                            {{ form.remember }}
                            <label class="form-check-label" for="id_remember">זכור אותי</label>
                            <a class="button secondaryAction" style="float:left" href="{% url 'account_reset_password' %}">שכחת את הסיסמה?</a>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-primary mt-3 w-100" type="submit">התחבר</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}