{% extends "master.html" %}

{% load account %}

{% block content_body %}
    <h1>שחזור סיסמא</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

{#    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>#}
    <p>אם שכחתם את שם המשתמש והסיסמה, אתם יכולים לבקש לבקש לקבל בדואר האלקטרוני את שם המשתמש, ושסיסמתכם תאופס. מלאו כאן את כתובת הדואר האלקטרוני שלכם, וישלחו אליכם הוראות כיצד לאפס את הסיסמה.</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="שחזור סיסמא" />
    </form>
{% endblock %}
