{% extends "master.html" %}
{% load i18n %}

{% block content_body %}
    <div class="card" style="width: 50%; margin: 0 auto;">
        <div class="card-header text-center">
            <h1>הרשמה</h1>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="mt-4 card-form">
                    <p class="text-center">
                        כבר יש לכם משתמש? <a href="{{ login_url }}">התחברו</a>.
                    </p>

                    {% if form.errors %}
                        {% for key, value in form.errors.items %}
                            {{ value }}
                        {% endfor %}
                    {% endif %}

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">אימייל</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="id_login">שם משתמש</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="id_password1">סיסמה</label>
                            {{ form.password1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_password2">אימות סיסמה</label>
                            {{ form.password2 }}
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-primary mt-3 w-100" type="submit">הירשם</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#    <h1>הרשמה</h1>#}
    {#    {% url 'account_login' as login_url %}#}
    {#    <p>#}
    {#        כבר נרשמת? <a href="{{ login_url }}">התחבר</a>.#}
    {#    </p>#}
    {#    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {#        {% if redirect_field_value %}#}
    {#            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>#}
    {#        {% endif %}#}
    {#        <button type="submit">הרשמה</button>#}
    {#    </form>#}

{% endblock %}
