{% extends "master.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content_body %}
<div class="card text-center">
  <div class="card-header">
    <h1>About</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Coursist</h5>
    <p class="card-text" style="direction: ltr">
        This project is intended for university students all around the world<br>
        The main features that this project contains are:<br>
            1. Social course review system<br>
            2. Course program planning for the entire degree<br>
            3. Semestrial courses schedule building tool</p>
    <a href="https://github.com/asaf-kali/coursist" class="btn btn-primary">Go to github repo</a>
  </div>
  <div class="card-footer text-muted">
    Created on April 2020
  </div>
</div>
{% endblock %}