{% extends "master.html" %}
{% load static %}

{% block head %}
    <script>
        function showToasts() {
            setTimeout(() => {
                showToast({"text": "משהו רגיל קרה", "title": "הודעה", "delay": 2500, "tag": "info"});
            }, 0);
            setTimeout(() => {
                showToast({"text": "יש פה בעיה!", "title": "אזהרה", "delay": 2500, "tag": "warning"});
            }, 1000);
            setTimeout(() => {
                showToast({"text": "הר הבית בידינו", "title": "משהו הצליח", "delay": 2500, "tag": "success"});
            }, 2000);
            setTimeout(() => {
                showToast({"text": "הכל קרס", "title": "תקלה", "delay": 2500, "tag": "error"});
            }, 3000);
        }
    </script>
{% endblock %}

{% block content_header %}
    <div class="container-fluid text-center text-white">
        <br><br><br>
        <div class="col-sm-12">
            <h1>אודות הפרוייקט</h1>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block content_body %}
    <div class="card text-center card-form" style="width: 720px; max-width: 90%;">
        <div class="card-header">
            <h1 onclick="showToasts();">Coursist</h1>
        </div>
        <div class="card-body" style="margin: 0 auto;">
            <div class="card-text" style="text-align: right;">
                קורסיסט הוא פרוייקט קוד פתוח, ומהווה אב-טיפוס לאתר שיכול לשמש סטודנטים מכל רחבי העולם.<br>
                המטרות המרכזיות שהפרוייקט שואף לעמוד בהן:
                <br><br>
                <ol>
                    <li>
                        דירוג ובקרה חברתית של קורסים ומרצים על-ידי סטודנטים.
                    </li>
                    <li>
                        כלי עזר לתכנון מערכת שעות סמסטריאלית.
                    </li>
                    <li>
                        כלי עזר לתכנון מסלול התואר עד לסיומו.
                    </li>
                </ol>
            </div>
            <br>
            <a href="https://github.com/asaf-kali/coursist" class="btn btn-primary">Go to github repo</a>
        </div>
        <br>
        <div class="card-text disclaimer">
            * דיסקליימר: האתר נבנה בפרוייקט במסגרת הקורס "67118 - סדנא בקוד פתוח" של האוניברסיטה העברית,
            ואין היוצרים שלו אחראיים על התכנים בו, אבטחתם ונכונותם.
        </div>
        <br><br>
        <div class="card-footer text-muted">
            Created on April 2020
        </div>
    </div>
{% endblock %}