{% extends "master.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content_body %}
    <div class="card text-center">
        <div class="card-header">
            <h1>About</h1>
        </div>
        <div class="card-body" style="margin: 0 auto;">
            <h5 class="card-title">Coursist</h5>
            <div class="card-text" style="direction: ltr; text-align: left;">
                This project is intended for university students all around the world.<br>
                The main features that this project supplies are:<br>
                <ol>
                    <li>
                        Social course review system.
                    </li>
                    <li>
                        Semestrial courses schedule building tool.
                    </li>
                    <li>
                        Course program planning for the entire degree.
                    </li>
                </ol>
            </div>
            <br>
            <a href="https://github.com/asaf-kali/coursist" class="btn btn-primary">Go to github repo</a>
        </div>
        <br>
        <div class="card-footer text-muted">
            Created on April 2020
        </div>
    </div>
{% endblock %}