{% extends "master.html" %}

{% load account %}

{% block content_body %}
    <div class="card">
        <div class="card-header text-center">
            <h1>שחזור סיסמה</h1>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-sm-8 mt-4">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>אם שכחתם את שם המשתמש והסיסמה,
                        אתם יכולים לבקש לקבל בדואר האלקטרוני את שם המשתמש, ושסיסמתכם תאופס.
                        מלאו כאן
                        את כתובת הדואר האלקטרוני שלכם, וישלחו אליכם הוראות כיצד לאפס את הסיסמה.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 mt-4">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% if form.errors %}
                            {% for key, value in form.errors.items %}
                                {{ value }}
                            {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">אימייל</label>
                            {{ form.email }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 w-100">שחזור סיסמה</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
