{% extends "star_ratings/widget_base.html" %}

{% block rating_detail %}
    <br>
    {#  TODO: This is the ugliest condition ever to be written  #}
    {% if rating.content_object.name != "Interesting" %}
        <span style="position: relative;">
        קשה
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        קל
    </span>
    {% endif %}
    <br>
    <span style="font-size: smaller; color: #888888;">
        ({{ rating.count }} דירוגים)
    </span>
{% endblock rating_detail %}

{#{% if not user.is_authenticated and not anonymous_ratings and not read_only %}#}
{#    <p>'Please log in to rate.'</p>#}
{#{% endif %}#}