{% extends "master.html" %}
{% load static %}

{% block head %}
    <style>
        table.comment-history {
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 20px;
            text-align: center;
            border-collapse: initial;
            width: 95vw;
        }

        table.comment-history td, th {
            padding: 25px;
        }

        tr.comment-row td {
            border-radius: 20px;
        }

        tr.row1 {
            background-color: aliceblue;
        }

        tr.row2 {
            background-color: azure;
        }
    </style>
{% endblock %}

{% block content_header %}
    <div class="container-fluid text-center text-white">
        <br><br><br>
        <div class="col-sm-12">
            <h1>{{ user_details.username }}</h1>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block content_body %}

    התגובות שלי:
    <br>
    <table class="comment-history">
        <tr>
            <th style="width: 20vw">קורס</th>
            <th style="width: 10vw">תאריך</th>
            <th>תגובה</th>
            <th style="width: 5vw">אנונימי?</th>
        </tr>
        {% for comment in comments %}
            <tr class="comment-row {% cycle 'row1' 'row2' %}">
                <td>
                    {{ comment.course }}
                </td>
                <td>
                    {{ comment.submit_date.date }}
                </td>
                <td>
                    {{ comment.comment }}
                </td>
                <td>
                    <input type="checkbox" name="anonymous-{{ comment.id }}"
                            {% if comment.is_anonymous %} checked {% endif %}
                           onclick="setAnonymous({{ comment.id }}, this);"/>
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>

        CSRF_TOKEN = '{{ csrf_token }}';

        function setAnonymous(comment_id, checkbox) {
            ajax({"comment_id": comment_id, "is_anonymous": checkbox.checked}, () => {
                showToast(new Toast("השינויים נשמרו"))
            }, () => {
                faultToast("משהו השתבש :(");
                checkbox.checked = !checkbox.checked;
            });
        }

    </script>
{% endblock %}