{% extends "master.html" %}
{% load static %}
{% load custom_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/schedule.css' %}">

    <script src="{% static 'scripts/js.cookie.min.js' %}"></script>
    <script name="schedule-legend" type="text/x-handlebars-template">
        {% include 'schedule/schedule-legend.html' %}
    </script>
    <script name="schedule-loader" type="text/x-handlebars-template">
        {% raw_include 'schedule/schedule-loader.html' %}
    </script>
    <script name="schedule-course-autocomplete-item" type="text/x-handlebars-template">
        {% raw_include 'schedule/schedule-course-autocomplete-item.html' %}
    </script>
    <script name="schedule-course-item" type="text/x-handlebars-template">
        {% raw_include 'schedule/schedule-course-item.html' %}
    </script>
    <script name="schedule-course-item-group-header" type="text/x-handlebars-template">
        {% raw_include 'schedule/schedule-course-item-group-header.html' %}
    </script>
    <script name="schedule-course-item-group-item" type="text/x-handlebars-template">
        {% raw_include 'schedule/schedule-course-item-group-item.html' %}
    </script>
    <script name="schedule-single-event" type="text/x-handlebars-template">
        {% raw_include 'schedule/schedule-single-event.html' %}
    </script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <style>
        .search-results {
            z-index: 10 !important;
        }
    </style>
{% endblock head %}
{% block content_header %}
    <div class="container-fluid text-center text-white">
        <br><br><br>
        <div class="col-sm-12">
            <h1>בניית מערכת שעות</h1>
            <p>
                הקלידו את שם הקורס או את המספר שלו,
                ואם הוא קיים במערכת, הוא יופיע בתיבת ההצעות.
            </p>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block content_body %}
    <div class="container">
        <p class="disclaimer">
            * הפיצ'ר הזה עדיין בפיתוח, אין להסתמך ב-100% על המידע המוצג.<br>
            ** בלילה שבין שלישי ה-11/08/2020 לרביעי יתבצע עדכון עם השנתון של 2021, אז הבחירות הקודמות יתאפסו.
        </p><br>
        <div class="row">
            <div class="col-lg-3">
                <div id="search_form" class="mb-2">
                    <div class="course_search_wrapper">
                        <input type="text" name="course_input" id="course_input"
                               placeholder="הכניסו שם או מספר קורס"/>
                    </div>
                    <div id="search_results" class="search-results">
                        <ul></ul>
                    </div>
                </div>
                <div id="my_courses" class="custom-scrollbar">
                    <ul id="my_courses_list"></ul>
                </div>
            </div>
            <div class="col-lg-9">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab">
                        <a class="nav-item nav-link active" id="semester-1-tab" data-toggle="tab"
                           href="#semester-1-wrapper">סמסטר א'</a>
                        <a class="nav-item nav-link" id="semester-2-tab" data-toggle="tab" href="#semester-2-wrapper">סמסטר
                            ב'</a>
                        <a class="nav-item nav-link" id="schedule-legend" href="javascript:void(0);">מקרא</a>
                        <a class="nav-item nav-link disabled" href="#">
                            סה"כ <span id="stat-course-num">0</span> קורסים נבחרו
                        </a>
                    </div>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="semester-1-wrapper" data-schedule="0">
                        {% include 'schedule/schedule-timetable.html' with semester=1 %}
                    </div>
                    <div class="tab-pane fade" id="semester-2-wrapper" data-schedule="1">
                        {% include 'schedule/schedule-timetable.html' with semester=2 %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts/schedule-util.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/schedule-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/schedule-logic.js' %}" type="text/javascript"></script>
    {{ choices | json_script:"choices-data" }}
    <script>
        CSRF_TOKEN = '{{ csrf_token }}';
        LOGGED_IN = {{ logged_in|lower|default:"false" }};
        onReady(function () {
            schedule.loadSavedCourses(document.getElementById('choices-data').innerText);
        });
    </script>
{% endblock content_body %}