<div id="legend-content" class="legend-wrapper">
    <ul class="legend">
        <li class="legend-event-1">שיעור</li>
        <li class="legend-event-2">תרגול</li>
        <li class="legend-event-3">סמינר</li>
        <li class="legend-event-4">מעבדה</li>
        <li class="legend-event-5">סדנה</li>
        <li class="legend-event-6">מטלה</li>
        <li class="legend-event-7">שיעור קליני</li>
        <li class="legend-event-8">סיור</li>
        <li class="legend-event-9">מכינה</li>
        <li class="legend-event-10">הדרכה</li>
        <li class="legend-event-11">שיעור ומעבדה</li>
        <li class="legend-event-12">שיעור ותרגיל</li>
        <li class="legend-event-13">עבודה מעשית</li>
        <li class="legend-event-14">שיעור וסדנה</li>
        <li class="legend-event-15">שיעור והדרכה</li>
        <li class="legend-event-16">שיעור וסמינר</li>
        <li class="legend-event-17">מחנה</li>
    </ul>
</div>