{% extends "master.html" %}
{% load static %}
{% load custom_tags %}

{% block head %}
    <style>
        table.study-blocks {
            margin: 0 auto;
        }

        table.study-blocks td {
            vertical-align: top;
            padding: 15px;
        }

        div.study-block {
            margin: 0 auto;
            width: 14vw;
        }

        span.course-row {
            padding: 5px;
            margin: 5px;
            border: 1px solid #a1a1a1;
            background-color: rgba(250, 219, 130, 0.2);
            border-radius: 5px;
            line-height: 100%;
            user-select: none;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    </style>
    <script>
        let draggingCourse;
        let lastBlock;

        function drag(rowId) {
            console.log(`Dragging row [${rowId}]`);
            draggingCourse = document.getElementById(rowId);
        }

        function blockEnter(blockId) {
            console.log(`Enter block [${blockId}]`);
            lastBlock = document.getElementById(blockId);
        }

        function allowDrop(e) {
            e.preventDefault();
        }

        function drop() {
            if (!lastBlock || !draggingCourse)
                return;
            console.log(`Dropping row [${draggingCourse.id}] at block [${lastBlock.id}]`);
            lastBlock.append(draggingCourse);
            if (lastBlock.getAttribute("meta-id") !== "{{ not_selected }}")
                ajax({
                    "action": "move_course",
                    "block_id": lastBlock.getAttribute("meta-id"),
                    "course_id": draggingCourse.getAttribute("meta-id")
                });
            lastBlock = draggingCourse = undefined;
        }
    </script>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block content_body %}
    <div class="card-text disclaimer">
        פיצ'ר זה הוא כלי-עזר בלבד ונמצא עדיין בשלבי פיתוח!<br>
        על-מנת לקבל מידע וודאי ונכון לגבי סגירת התואר, ממוצע וכו', אנא פנו למזכירות החוג שלכם.
    </div><br>
    <div style="text-align: center;">
        <label>
            תוכנית הלימודים שלי:
            <select id="degree_program_select" onchange="checkProgramChange();">
                <option value="{{ not_selected }}">לא נבחר {% if not user_program %} (נוכחי){% endif %}</option>
                {% for program in degree_programs %}
                    <option value="{{ program.id }}" {% if user_program == program %}selected{% endif %}>
                        {{ program.name }} {% if user_program == program %} (נוכחי){% endif %}</option>
                {% endfor %}
            </select>
            <input id="update_degree_btn" type="button" class="btn btn-secondary" onclick="updateDegreeProgram();"
                   disabled value="עדכן">

        </label>
    </div>
    <br><br>
    <div style="display: block; text-align: center">
        {% if not user_program %}
            על-מנת להשתמש בפיצ'ר זה, אנא בחר תוכנית לימודים.
        {% else %}
            <div>
                {% include "degree_programs/study_block.html" with block=queue_block %}
            </div>
            {% include "degree_programs/study_blocks.html" %}
        {% endif %}
    </div>
    <script>
        CSRF_TOKEN = "{{ csrf_token }}";
        const CURRENT_PROGRAM = "{% if user_program %}{{ user_program.id }} {% else %}{{ not_selected }}{% endif %}";
        console.log(`Current program is: [${CURRENT_PROGRAM}]`);

        function getSelectedProgram() {
            const selected = $("#degree_program_select").val();
            console.log(`Selected program is: [${selected}]`)
            return selected;
        }

        function checkProgramChange() {
            const updateButton = $("#update_degree_btn");
            if (getSelectedProgram() === CURRENT_PROGRAM)
                updateButton.attr("disabled", "");
            else updateButton.removeAttr("disabled");
        }

        function updateDegreeProgram() {
            ajax({"action": "change_program", "program_id": getSelectedProgram()}, () => {
                window.location.reload();
            }, (e) => {
                faultToast(`That's what we know: ${JSON.stringify(e)}`);
            })
        }

    </script>
{% endblock %}