{% extends "master.html" %}
{% load static %}
{% load custom_tags %}

{% block head %}
    <!-- Include Handlebars from a CDN -->
    <script src={% static 'scripts/handlebars.js' %}></script>
    <script name="course-single" type="text/x-handlebars-template">
        {% raw_include 'handlebars/course-item.html' %}
    </script>
    <script>
        function renderSearchResults(courses) {
            let newContent = "";
            courses.forEach((course) => {
                newContent += hb_templates["course-single"]({"course": course});
            });
            $("#courses-list").html(newContent);
        }

        onReady(() => {
            bindButton("search_btn", () => {
                    hide("courses-list");
                    let free_text = $("#course_id").val();
                    return {"free_text": free_text};
                },
                (response) => {
                    const courses = response["courses"];
                    console.log(`Got ${courses.length} courses`);
                    show("courses-list", () => {
                        renderSearchResults(courses);
                    });
                },
                (response) => {
                },
                '{{ csrf_token }}');
        });
    </script>
{% endblock %}

{% block content_header %}
    <div class="text-white text-center d-flex align-items-center search-content-wrapper py-5 px-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="search-param-wrapper">
                        <div class="title">
                            פקולטה
                        </div>
                        <div class="mt-3">
                            <input type="text" name="faculty" id="faculty" class="search-input"
                                   placeholder="הקלידו שם פקולטה"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-param-wrapper">
                        <div class="title">
                            חוג
                        </div>
                        <div class="mt-3">
                            <input type="text" name="hug" id="hug" class="search-input" placeholder="הקלידו שם חוג"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-param-wrapper">
                        <div class="title">
                            סמסטר
                        </div>
                        <div class="mt-3">
                            <input type="text"
                                   name="semester"
                                   id="semester"
                                   class="search-input"
                                   placeholder="סמסטר א' או ב'"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <div class="course-name-wrapper">
                        <input type="text"
                               name="course_name"
                               id="course_id"
                               class="course-name-input"
                               placeholder=" חיפוש חופשי"/>
                        <button class="search-btn" id="search_btn">
                            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd"
                                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div id="courses-list">
        {% for course in object_list %}
            <li>{{ course.course_number }}:
                <a href="{% url 'course-details' course.course_number %}">{{ course.name }}</a>
            </li>
        {% endfor %}
    </div>
{% endblock %}

