{% extends "master.html" %}
{% load static %}
{% load ratings %}
{% load reviews %}

{% block head %}
{% endblock %}

{% block content_header %}
    <div class="text-white text-center align-items-center search-content-wrapper">
    <br><br>
        <div>
            <br><br>
            <h1>{{ course.name }}</h1>
        </div>
        <div><p>Course number {{ course.course_number }}</p></div>
        <a class="nav-link text-white" href="https://shnaton.huji.ac.il/index.php/NewSyl/{{ course.course_number }}">סילבוס</a>
    <br>
    </div>
{% endblock %}

{% block content_body %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1129461710764059&autoLogAppEvents=1"></script>
    <br><br><br>
    {% get_review_count for course as review_count %}
    <p>This course has {{ review_count }} reviews.</p>
    {% if not user.is_anonymous %}
        {% render_review_form for course %}
    {% else %}
        To add a review, please sign in.
    {% endif %}
    {% render_review_list for course %}

    <br><br><br>
    <h4>Ratings</h4>
    <h5>Semester rating:</h5>
    How hard was the course during the semester? How difficult / intense were the home assignments?<br>
    (1 - hard, 5 - easy)<br>
    {% ratings course.semester_rating %}
    <h5>Finals rating:</h5>
    How hard was the final exam / project?<br>
    (1 - hard, 5 - easy)<br>
    {% ratings course.finals_rating %}
    <h5>Interesting rating:</h5>
    How interesting was the course? How fun?<br>
    (1 - boring, 5 - interesting)<br>
    {% ratings course.interesting_rating %}
    <br><br><br>
    <h4>Facebook reviews</h4>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5" data-width=""></div>
{% endblock %}