<html lang="">
{% load socialaccount %}
{%  providers_media_js %}

{% load static %}

<head>
    <title>Open Cards</title>
    <link href="{% static 'styles/master.css' %}" rel="stylesheet">
    <script src="{% static 'scripts/jquery-3.5.1.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<h1>This is our site title</h1>
user = {{ user }}
<a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
<br><br><br>
{% block content %} {% endblock %}
</body>
</html>