<html lang="">
{% load static %}
{% load custom_tags %}
{% get_settings_value auth_active "AUTH_ACTIVATION" %}

<head>
    <title>{{ title }}</title>
    <link rel="icon" href="{% static 'images/icon-64.png' %}">
    {#  Styles  #}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/master.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {# Scripts #}
    {% if auth_active %}
        {% load socialaccount %}
        {% providers_media_js %}
    {% endif %}
    <script src="{% static 'scripts/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {# Curent page #}
    {% block head %}{% endblock %}
</head>
<body>
{# TODO: Put navbar inside template #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'index' %}"><h2>Open Cards</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'courses' %}">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="text" placeholder="Search">#}
        {#            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
        <span style="color: white;">
        {% if user.is_anonymous %}
            {% if auth_active %}
                <a href="{% provider_login_url "facebook" method="js_sdk" %}" style="color: white;">
                    Log in with Facebook
                </a>
            {% endif %}
        {% else %}
            Logged in as: {{ user }} (<a href="">Log out</a>)
        {% endif %}
        </span>
    </div>
</nav>
<br><br>
<div id="content-main" style="margin-left: 35px;">
    {% block content %} {% endblock %}
</div>
</body>
</html>