<div class="card float-left course-item">
    <a href="{{ course.url }}" style="text-decoration: none;">
    <span style="font-size: small; position: absolute; top: 10px; right: 20px;">
        {{ course.score }} כוכבים
    </span>
        <div class="card-body text-center">
            <h6 class="card-subtitle mb-2 text-muted">
                <br>{{ course.course_number }}
            </h6>
            <h5 class="card-title" style="color: black">{{ course.name }}</h5>
        </div>
    </a>
</div>