* {
    box-sizing: border-box;
}

body {
    margin-top: 60px;
    overflow-y: scroll;
}

input {
    border-radius: 0.5rem;
}

.bg-navbar {
    background: #ffcc66;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-image {
    border-radius: 0;
    background-size: cover;
    background-position-y: 50%;
    background-image: url(../images/search-bg.jpeg);
    min-height: 275px;
    max-height: 275px;
    height: 100%;
}

.opaque-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}

.search-param-wrapper {
    background: rgba(255, 204, 102, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

.search-param-wrapper .title {
    font-weight: bold;
    font-size: 16px;
}

.search-param-wrapper .search-input {
    width: 100%;
    border: 1px solid #000;
    padding: 5px 10px;
}

.search-param-wrapper .search-input:focus {
    outline: none;
}

.course-name-wrapper {
    background: #ffffff;
    border-radius: 10px;
    text-align: right;
}

.course-name-input {
    width: 94%;
    border: 0;
    border-radius: 10px;
    padding: 5px 10px;
}

.search-btn {
    width: 5%;
    background: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    font-size: 22px;
    padding: 0;
}

.course-trailer {
    padding: 5px;
}

.course-trailer .course-trailer-content {
    border: 1px solid #000;
}

.add-btn {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    cursor: pointer;
    font-size: 55px;
    padding: 0;
    border-radius: 10px;

}

.rating-wrapper {
    border: 2px solid var(--gray);
    border-radius: 50%;
    padding-top: 45px;
    width: 230px;
    height: 230px;
    text-align: center;
}

.rating-wrapper:hover {
    border-color: var(--yellow);
}

.center-block {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.sign-out-btn {
    background: none;
    border: none;
    color: #069;
    cursor: pointer;
}

.card-form {
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .navbar {
        height: 60px;
    }

    .header-image {
        /*min-height: 200px;*/
    }

    .header-image.card {
        border: 0;
    }

    .opaque-wrapper {
        min-height: 200px;
    }
}

div.comment {
    margin: 0 auto;
    min-width: 70%;
    max-width: 1000px;
}

.card-gray-border {
    border: 3px solid var(--gray);
    border-radius: 20px;
}

.autocomplete-container {
    width: 100%;
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 180, 66);
    border-bottom: 1px solid #a1a1a1;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}