<style>

    .comment-form {
        background-color: #fafafa;
    }

    table.form {
        margin: 10px;
    }

    table.form td {
        padding: 15px;
    }

    .main-content {
        border-right: 2px solid var(--yellow);
        vertical-align: top;
        text-align: center;
        display: block;
    }

    div.comment-wrapper {
        width: 80%;
        display: inline-block;
        z-index: 2;
        position: sticky;
    }

    div.comment-wrapper textarea {
        width: 100%;
        padding: 15px;
        border-radius: 20px;
        resize: none;
        border: 1px solid var(--gray);
        outline: none;
    {#background-color: #f1f1f1;#}
    }

    div.fdasgasdg {# This name is inetnded to be jibbrish #} {
        position: relative;
        top: -80px;
    }

    div.fdasgasdg input {
        width: 100px;
        margin: 0 auto;
    }

</style>
{% load comments %}


{% get_comment_form for course as form %}
<form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    <div class="card comment comment-form card-gray-border">
        <table class="form">
            <tr>
                <td style="width: 40%; direction: rtl; text-align: center;">
                    תעזרו לחברים לדעת על הקורס!<br><br>מה כולל הקורס?<br>האם החומר עניין אותך?<br>איך היה המרצה?<br>כמה
                    עבודות/תרגילים?<br>כמה זמן מעבר לשעות בכיתה נדרש?
                </td>
                <td rowspan="2" class="main-content">
                    <p class="card-text">
                    <div class="comment-wrapper">
                        {{ form.comment }}
                    </div>
                    <div class="fdasgasdg">
                        {{ form.honeypot }}
                    </div>
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                     מתייחס למועד {{ form.year }} סמסטר {{ form.semester }}
                    <br><br>
                    {{ form.is_anonymous }}&nbsp;תגובה אנונימית
                    <br><br>
                    <input type="submit" class="btn btn-primary" value="הוספת תגובה" id="id_submit"/>
                    <input type="hidden" name="next" value="{{ request.build_absolute_uri }}"/>
                </td>
            </tr>
        </table>
    </div>

</form>