{% extends "master.html" %}
{% load static %}
{% load custom_tags %}

<p id="invisibleClickable"></p>
{% block head %}
    <script src={% static 'scripts/handlebars.js' %}></script>
    <script name="course-single" type="text/x-handlebars-template">
        {% raw_include 'courses/course-item.html' %}
    </script>
    <script src="{% static 'scripts/auto-complete.js' %}"></script>
    <script>
        CSRF_TOKEN = '{{ csrf_token }}';

        function renderSearchResults(courses) {
            let newContent = "";
            if (courses.length === 0) {
                newContent = "לא נמצאו קורסים התואמים לחיפוש זה.";
            }
            courses.forEach((course) => {
                newContent += hb_templates["course-single"]({
                    "course": course,
                    "arrow_url": "{% static 'images/arrow.svg' %}"
                });
            });
            $("#courses-list").html(newContent);
        }

        onReady(() => {
            bindButton("search_btn",
                () => {
                    hide("courses-list");
                    const free_text = $("#free_text").val();
                    const faculty = $("#faculty").val();
                    const department = $("#department").val();
                    const semester = $("#semester").val();

                    if (free_text.length === 0) {
                        show("courses-list", () => {
                            $("#courses-list").html("ברוכים הבאים ל-Coursist. כדי לראות מה אנשים חשבו על קורס מסויים, כתבו את שמו או מספרו בתיבת החיפוש.");
                        });
                    }
                    else {
                        return {
                            "free_text": free_text,
                            "department": department,
                            "faculty": faculty,
                            "semester": semester
                        };
                    }
                },
                (response) => {
                    const courses = response["courses"];
                    console.log(`Got ${courses.length} courses`);
                    show("courses-list", () => {
                        renderSearchResults(courses);
                    });
                });
        });
    </script>
    <style>
        div.course-item {
            width: 23%;
            height: 9.5rem;
            margin: 7px;
            border: 1px solid var(--yellow);
            border-radius: 20px;
            background-color: #fffff3;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content_header %}
    <div class="text-white text-center d-flex align-items-center">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="search-param-wrapper">
                        <div class="title">
                            פקולטה
                        </div>
                        <div class="mt-3 autocomplete-container">
                            <input type="text" id="faculty" class="search-input"
                                   placeholder="הקלידו שם פקולטה" value="מדעי המחשב"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-param-wrapper">
                        <div class="title">
                            חוג
                        </div>
                        <div class="mt-3 autocomplete-container">
                            <input type="text" id="department" class="search-input"
                                   placeholder="הקלידו שם חוג"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-param-wrapper">
                        <div class="title">
                            סמסטר
                        </div>
                        <div class="mt-3 autocomplete-container">
                            <input type="text"
                                   id="semester"
                                   class="search-input"
                                   placeholder="סמסטר א' או ב'"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <input type="text"
                           id="free_text"
                           class="course-name-input"
                           placeholder=" חיפוש חופשי"/>
                    <button type="button" class="search-btn" id="search_btn">
                        <img alt="search" src="{% static 'images/search.svg' %}">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
                //document.getElementById("search_btn").click();
                //...get the button
                // Cancel the default action, if needed
                jQuery(function () {
                    jQuery('#search_btn').click();
                });
            }
        );
        // Execute a function when the user releases a key on the keyboard
        document.addEventListener("keydown", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("search_btn").click();
            }
        });

        $(document).ready(() => {
            autocomplete(document.getElementById("faculty"), {{ all_faculties|safe }});
            autocomplete(document.getElementById("department"), {{ all_departments|safe }});
        });
    </script>
{% endblock %}

{% block content_body %}
    <div class="container" style="width: 95%; height: 100%; justify-content: center; align-items: center;"
         id="courses-list">
    </div>
{% endblock %}

