{% extends "master.html" %}
{% load static %}
{% load ratings %}
{% load comments %}

{% block head %}
{% endblock %}

{% block content_header %}
    <div class="text-white text-center align-items-center search-content-wrapper">
        <br><br>
        <div>
            <br><br>
            <h1>{{ course.name }}</h1>
        </div>
        <div><p>Course number {{ course.course_number }}</p></div>
        <a class="nav-link text-white" href="https://shnaton.huji.ac.il/index.php/NewSyl/{{ course.course_number }}">סילבוס</a>
        <br>
    </div>
{% endblock %}

{% block content_body %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1129461710764059&autoLogAppEvents=1"></script>
    <br>
    <div class="container align-content-center">
        <div class="row">
            {% include 'courses/course-rating.html' with rating_title=semester_rating_title rating_description=semester_rating_description rating_object=course.semester_rating %}
            {% include 'courses/course-rating.html' with rating_title=exams_rating_title rating_description=exams_rating_description rating_object=course.finals_rating %}
            {% include 'courses/course-rating.html' with rating_title=interest_rating_title rating_description=interest_rating_description rating_object=course.interesting_rating %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <hr>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;">
                <div style="margin: 0 auto;">
                    {% if not user.is_anonymous %}
                        {% include 'courses/comment-form.html' with couse=course %}
                    {% else %}
                        על מנת להוסיף תגובה, אנא התחברו.
                    {% endif %}
                </div>
            </td>
            <td>{% include 'courses/comments-list.html' with couse=course %}</td>
        </tr>
    </table>
{% endblock %}