{% load comments %}
{% load ratings %}

<style>
    .table-padded {
        width: 35vw;
        border: 3px solid black;
        text-align: center;
    }

    .table-padded td {
        padding: 10px;
    }
</style>
<table class="table-padded">
    <tr>
        <td colspan="2">
            <b>{{ course_comment.get_user_name_to_show }}</b>
            <span style="font-size: smaller;">({{ course_comment.submit_date }})</span><br><br>
        </td>
    </tr>
    <tr>
        <td style="background-color: lightgray;">
            {{ course_comment.comment|linebreaks }}<br>
        </td>
        <td style="width: 35%;">
            <table style="width: 100%;">
                <tr>
                    <td>Semester</td>
                    <td>{{ course_comment.semester_rating.score }}</td>
                </tr>
                <tr>
                    <td>Finals</td>
                    <td>{{ course_comment.finals_rating.score }}</td>
                </tr>
                <tr>
                    <td>Interesting</td>
                    <td>{{ course_comment.interesting_rating.score }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
