{% load comments %}
{% load custom_tags %}

<style>
</style>
<div class="card" style="margin-bottom: 5px">
    <table>
        <tr>
            <td style="width: 20%; direction: rtl; text-align: center;">
                <h5 class="card-title"> {{ course_comment.get_user_name_to_show }}</h5>
                <h9 class="card-subtitle mb-2 text-muted">בתאריך
                    {{ course_comment.submit_date.date }}</h9>
                {% if course_comment.show_email %}
                    {{ course_comment.user_email }}
                {% endif %}


            </td>
            <td rowspan="2">
                <p class="card-text">{{ course_comment.comment }}</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                סמסטר:
                {% rating_for_comment course_comment.semester_rating.score %}
                <br>
                בחינות:
                {% rating_for_comment course_comment.finals_rating.score %}
                <br>
                עניין:
                {% rating_for_comment course_comment.interesting_rating.score %}
            </td>
        </tr>
    </table>
</div>

