<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% load analytical %}
{% load clicky %}
<html dir="rtl" lang="">
<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/master.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <!-- JavaScript -->
    <script src="{% static 'scripts/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/ajax.js' %}"></script>
    <script src="{% static 'scripts/utils.js' %}"></script>
    <script src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <title>Coursist</title>
    {% analytical_head_bottom %}
</head>
<body class="rtl">
{% analytical_body_top %}
<div id="app">
    <!-- React will load here -->
</div>
{% clicky %}
{% analytical_body_bottom %}
</body>
<script src="{% static "main.js" %}"></script>
</html>
